<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gamesflow</title>
    <link rel="stylesheet" href="../Detalles.css">
    <link rel="shortcut icon" href="../undraw/undraw_gaming_re_cma2.svg" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/db099c0978.js" crossorigin="anonymous"></script>
</head>

<body id="body">
    <header>
        <div class="icon__menu">
            <i class="fa-solid fa-bars" id="btn_open"></i>
        </div>
    </header>


    <div class="menu_side" id="menu">

        <div class="logo">
            <img src="../undraw/undraw_gaming_re_cma2 (2).svg" width="100">
            <h4>Gamesflow</h4>
        </div>


        <div class="option_menu">

            <a href="../index.html">
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-house"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="Info Consolas.html">
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-gamepad"></i>
                    <h4>Info Consolas</h4>
                </div>
            </a>
            <a href="Info Juegos.html">
                <div class="iconos">
                    <i class="fa-solid fa-chess-knight"></i>
                    <h4>Info Juegos</h4>
                </div>
            </a>
            <a href="Nosotros.html">
                <div class="iconos">
                    <i class="fa-solid fa-people-group"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
            <a href="Servicios.html">
                <div class="iconos">
                    <i class="fa-solid fa-person"></i>
                    <h4>Servicios</h4>
                </div>
            </a>
            <a href="Contacto.html" class="selected">
                <div class="iconos">
                    <i class="fa-solid fa-address-book"></i>
                    <h4>Contacto</h4>
                </div>
            </a>
        </div>
    </div>

    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M-75.24,-62.65 C-49.28,-18.24 349.21,-49.99 523.51,-10.34 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill:  rgb(99, 3, 3);"></path>
        </svg></div>
            
    <form action="#" class="forms">
        <H2 class="title"> Informacion</H2>
        <br>
        <p>
            <div class="formulariofinal">
        <fieldset>
            <legend>Datos Personales</legend>
            <br>
            Nombre: <input class="ingresar-contenido" type="text" name="nombre_control" autofocus required>
            <br><br>
            Correo Eléctronico: <input class="ingresar-contenido" type="email" name="email_control" required>
            <br><br>
            Teléfono: <input class="ingresar-contenido" type="tel" name="telefono_control" required>
            <input  class="ingresar-contenido" type="tel" name="telefono_control" required>
            <br><br>
            Dirección: <input  class="ingresar-contenido" type="text" name="direccion_control" required>
            <br><br>
            Celular: <input class="ingresar-contenido" type="text" mame="fecha_control" required>
            <br><br>
            Fecha y hora : <input class="ingresar-contenido" type="datetime-local" name="datetime_control">
            <br><br>
        </fieldset>    
        <br><br>
        <fieldset>
            <legend>Mini encuesta</legend>
            <h2><input class="ingresar-contenido" type="radio">Pc <input type="radio">Consola</h2>
            Nombre: <input class="ingresar-contenido" type="text" name="nombre_control" autofocus required>
            <br><br>
            Consola/Pc:<input class="ingresar-contenido" type="text" name="nombre_control" autofocus required>
            <br><br>
            Porque:<input class="ingresar-contenido" type="text" name="nombre_control" autofocus required>
            <br><br>
        </div>
    </form>
    <footer>
        <div class="content-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>3224006071</p>
            </div>
            <div class="content-foo">
                <h4>Correo</h4>
                <p>juansrm0222@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Sitio</h4>
                <p>Cra 74 #44 sur</p>
            </div>
        </div>
        </div>
        <h2 class="Titulo-final">&copy;Sebastian Reyes | Creador</h2>
    </footer>
</body>
<script src="../Javachikito.js"></script>
</html>