<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gamesflow</title>
    <link rel="stylesheet" href="../Detalles.css">
    <link rel="shortcut icon" href="../undraw/undraw_gaming_re_cma2.svg" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/db099c0978.js" crossorigin="anonymous"></script>
</head>

<body id="body">
    <header>
        <div class="icon__menu">
            <i class="fa-solid fa-bars" id="btn_open"></i>
        </div>
    </header>


    <div class="menu_side" id="menu">

        <div class="logo">
            <img src="../undraw/undraw_gaming_re_cma2 (2).svg" width="100">
            <h4>Gamesflow</h4>
        </div>


        <div class="option_menu">

            <a href="../index.html">
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-house"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="Info Consolas.html" class="selected">
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-gamepad"></i>
                    <h4>Info Consolas</h4>
                </div>
            </a>
            <a href="Info Juegos.html">
                <div class="iconos">
                    <i class="fa-solid fa-chess-knight"></i>
                    <h4>Info Juegos</h4>
                </div>
            </a>
            <a href="Nosotros.html">
                <div class="iconos">
                    <i class="fa-solid fa-people-group"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
            <a href="Servicios.html">
                <div class="iconos">
                    <i class="fa-solid fa-person"></i>
                    <h4>Servicios</h4>
                </div>
            </a>
            <a href="Contacto.html">
                <div class="iconos">
                    <i class="fa-solid fa-address-book"></i>
                    <h4>Contacto</h4>
                </div>
            </a>
        </div>
    </div>
    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M-75.24,-62.65 C-49.28,-18.24 349.21,-49.99 523.51,-10.34 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill:  rgb(99, 3, 3);"></path>
        </svg></div>
    <section class="content sau">
        <h2 class="title">Info Consolas</h2>
        <section class="sobre_inicio">
            <div class="contenedor_sobre_inicio">
                <img src="../img/los-increibles-juegos-gratis-del-fin-de-semana-para-playstation-xbox-y-pc.webp" class="imagen-us">
                <div class="contenido-parla">

                    <div class="contenido-textos">
                        <br>
                        <h3><span> 1 </span>PlayStation 2 </h3>
                        <p>El PlayStation 2 fue lanzado por primera vez el 4 de marzo del año 2000
                        en Japon y meses despues a todo el mundo,esta consola fue emblema para muchos jovenes
                        y adultos, la razon de esto fueron sus titulos tan emblematicos, los cuales marcaron 
                        muchas infancias, adolecencias y adultez, tambien fue muy popular por la facilidad que
                        tuvo para piratear los juegos, la primera forma fue con un disco con juegos dentro,
                        de esta manera la consola no los detectaba como no pirata, la segunda forma y la que se 
                        mantuvo durante mucho tiempo fue implantando un chip dentro para que leyera los DVD.
                        </p>
                        <h3><span> 2 </span> Xbox 360 </h3>
                        <p>El Xbox360 salio el 22 de Noviembre de 2005 casi a la par que el PlayStation 3,pero su competencia directa fue 
                        el PlayStation 2 por cuestiones de marketing el PlayStation 3 no tuvo tanto publico como el 2 hasta tiempo despues,el
                        Xbox360 vino para quedarse una larga temporada teniendo exclusivos como la Saga de Gear of war,
                         Halo,Forza Horizon entre algunos mas, estos juegos, tambien marcando popularidad con sus chips 3.0 y 5.0
                        este ultimo siendo el definitivo para la consola y tener accesibilidad a sus juegos.  </p>
                        <h3><span> 3 </span> Wii U </h3>
                        <p>
                           La Wii U salio el 18 de Noviembre de 2012 su lanzamiento fue en Estados Unidos es la consola de Nintendo no ha hecho otra cosa que acumular fracasos,
                            fue tal el punto que nisiquiera los medios de marketing sabian si iba a ser o no una nueva 
                            consola,empezaron a sembrar dudas en los principales desarrolladores de videojuegos, casos como
                            Rayman Legends que resulto siendo una obra maestra fue puesto en tela de juicio durante los
                            primeros meses de lanzamiento,hasta el año 2017 se mantuvo la consola en el postergación,de muchos
                            titulos que al final nunca salieron y la consola fue abandonada y marcada como FRACASO.

                        </p>
                        <h3><span> 4 </span> Gameboy Advance </h3>
                        <p>
                        La Gameboy Advance o (GBA) fue fabricada el 21 de marzo de 2001 hasta el 2008 que fue cuando se dejaron
                        de fabricar estas consolas portables, lo caracteristico de esta consola fue la distintas entregas que tuvo
                        de pokemon siendo la de "Pokemon Rojo fuego " las mas conocida de todas, lo que tambien mantenia a esta consola
                        era sus constantes lanzamientos de nuevos juegos en formato de casettes, un fallo de esta consola fue su poca iluminación en la pantalla
                        lo cual fue solucionado en  Game Boy Advance SP, la cual traia una mejor iluminación y con baterias de litio.
                        </p>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
        <footer>

            <div class="content-footer">
                <div class="content-foo">
                    <h4>Telefono</h4>
                    <p>3224006071</p>
                </div>
                <div class="content-foo">
                    <h4>Correo</h4>
                    <p>juansrm0222@gmail.com</p>
                </div>
                <div class="content-foo">
                    <h4>Sitio</h4>
                    <p>Cra 74 #44 sur</p>
                </div>
            </div>
            </div>
            <h2 class="Titulo-final">&copy;Sebastian Reyes | Creador</h2>
        </footer>

        <script src="../Javachikito.js"></script>
</body>

</html>