<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gamesflow</title>
    <link rel="stylesheet" href="../Detalles.css">
    <link rel="shortcut icon" href="../undraw/undraw_gaming_re_cma2.svg" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/db099c0978.js" crossorigin="anonymous"></script>
</head>

<body id="body">
    <header>
        <div class="icon__menu">
            <i class="fa-solid fa-bars" id="btn_open"></i>
        </div>
    </header>


    <div class="menu_side" id="menu">

        <div class="logo">
            <img src="../undraw/undraw_gaming_re_cma2 (2).svg" width="100">
            <h4>Gamesflow</h4>
        </div>


        <div class="option_menu">

            <a href="../index.html.html">
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-house"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="Info Consolas.html">
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-gamepad"></i>
                    <h4>Info Consolas</h4>
                </div>
            </a>
            <a href="Info Juegos.html" class="selected">
                <div class="iconos">
                    <i class="fa-solid fa-chess-knight"></i>
                    <h4>Info Juegos</h4>
                </div>
            </a>
            <a href="Nosotros.html">
                <div class="iconos">
                    <i class="fa-solid fa-people-group"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
            <a href="Servicios.html">
                <div class="iconos">
                    <i class="fa-solid fa-person"></i>
                    <h4>Servicios</h4>
                </div>
            </a>
            <a href="Contacto.html">
                <div class="iconos">
                    <i class="fa-solid fa-address-book"></i>
                    <h4>Contacto</h4>
                </div>
            </a>
        </div>
    </div>

    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M-75.24,-62.65 C-49.28,-18.24 349.21,-49.99 523.51,-10.34 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill:  rgb(99, 3, 3);"></path>
        </svg></div>
    <section class="juegos">
        <div class="contenedor"></div>
        <h2 class="title">Juegos Mas populares </h2>
        <div class="imagen-juegos">
            <h2>Juegos mas populares de play station 2</h2>
        </div>
        <div class="galeria-juegos">

            <div class="imagen-port">
                <img src="../img/Metal_Gear_Solid_Subsistence.webp">
                <div class="galeria-hover">
                    <img src="../img/videogame_asset_FILL0_wght400_GRAD0_opsz48.png">
                    <p>Sobre el juego</p>
                </div>
            </div>

            <div class="imagen-port">
                <img src="../img/61N9DX5CRKL._AC_SY1000_.jpg">
                <div class="galeria-hover">
                    <img src="../img/videogame_asset_FILL0_wght400_GRAD0_opsz48.png">
                    <p>Sobre el juego</p>
                </div>
            </div>

            <div class="imagen-port">
                <img src="../img/10.jpg">
                <div class="galeria-hover">
                    <img src="../img/videogame_asset_FILL0_wght400_GRAD0_opsz48.png">
                    <p>Sobre el juego</p>
                </div>
            </div>

            <div class="imagen-port">
                <img src="../img/51-TFvrGFHL.jpg">
                <div class="galeria-hover">
                    <img src="../img/videogame_asset_FILL0_wght400_GRAD0_opsz48.png">
                    <p>Sobre el juego</p>
                </div>
            </div>

            <div class="imagen-port">
                <img src="../img/200562215934_1.jpg">
                <div class="galeria-hover">
                    <img src="../img/videogame_asset_FILL0_wght400_GRAD0_opsz48.png">
                    <p>Sobre el juego</p>
                </div>
            </div>

            <div class="imagen-port">
                <img src="../img/final-fantasy-x-201961314145961_1.jpg">
                <div class="galeria-hover">
                    <img src="../img/videogame_asset_FILL0_wght400_GRAD0_opsz48.png">
                    <p>Sobre el juego</p>
                </div>
            </div>

            <div class="imagen-port">
                <img src="../img/ico-20142312220_1.jpg">
                <div class="galeria-hover">
                    <img src="../img/videogame_asset_FILL0_wght400_GRAD0_opsz48.png">
                    <p>Sobre el juego</p>
                </div>
            </div>

            <div class="imagen-port">
                <img src="../img/D_NQ_NP_968185-MCO32129120759_092019-O.jpg">
                <div class="galeria-hover">
                    <img src="../img/videogame_asset_FILL0_wght400_GRAD0_opsz48.png">
                    <p>Sobre el juego</p>
                </div>
            </div>
        </div>
        <div class="contenido-proximo">
            <img src="../img/venta-de-juegos-playstation-2--ps2--envios-a-todo-el-pais.jpg" class="imagen us">
            <h3>Proximamente!!!</h3>
        </div>
    </section>
    <footer>
        <div class="content-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>3224006071</p>
            </div>
            <div class="content-foo">
                <h4>Correo</h4>
                <p>juansrm0222@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Sitio</h4>
                <p>Cra 74 #44 sur</p>
            </div>
        </div>
        </div>
        <h2 class="Titulo-final">&copy;Sebastian Reyes | Creador</h2>
    </footer>
    <script src="../Javachikito.js"></script>
</body>

</html>