<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gamesflow</title>
    <link rel="stylesheet" href="../Detalles.css">
    <link rel="shortcut icon" href="../undraw/undraw_gaming_re_cma2.svg" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/db099c0978.js" crossorigin="anonymous"></script>
</head>

<body id="body">
    <header>
        <div class="icon__menu">
            <i class="fa-solid fa-bars" id="btn_open"></i>
        </div>
    </header>


    <div class="menu_side" id="menu">

        <div class="logo">
            <img src="../undraw/undraw_gaming_re_cma2 (2).svg" width="100">
            <h4>Gamesflow</h4>
        </div>


        <div class="option_menu">

            <a href="../index.html">
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-house"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            <a href="Info Consolas.html">
                <div class="iconos">
                    <i class="fa-sharp fa-solid fa-gamepad"></i>
                    <h4>Info Consolas</h4>
                </div>
            </a>
            <a href="Info Juegos.html">
                <div class="iconos">
                    <i class="fa-solid fa-chess-knight"></i>
                    <h4>Info Juegos</h4>
                </div>
            </a>
            <a href="Nosotros.html">
                <div class="iconos">
                    <i class="fa-solid fa-people-group"></i>
                    <h4>Nosotros</h4>
                </div>
            </a>
            <a href="Servicios.html" class="selected">
                <div class="iconos">
                    <i class="fa-solid fa-person"></i>
                    <h4>Servicios</h4>
                </div>
            </a>
            <a href="Contacto.html">
                <div class="iconos">
                    <i class="fa-solid fa-address-book"></i>
                    <h4>Contacto</h4>
                </div>
            </a>
        </div>
    </div>

    <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M-75.24,-62.65 C-49.28,-18.24 349.21,-49.99 523.51,-10.34 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill:  rgb(99, 3, 3);"></path>
        </svg></div>
    <section class="Servicios-about">
        <div class="contenedor">
            <h2 class="title">Nuestros servicios</h2>
            <div class="servicios-cont">
                <div class="servicio-int">
                    <img src="../undraw/undraw_searching_re_3ra9.svg">
                    <h3>Que se maneja?</h3>
                    <p>
                    Esta wiki proporciona informacion de calidad para todos los lectores y visitantes
                    Cuenta datos curiosos sobre algunas consolas y presenta los juegos mas populares de
                    las mismas.
                    </p>
                </div>
                <div class="servicio-int">
                    <img src="../undraw/undraw_signal_searching_re_yl8n.svg">
                    <h3>Porque divulgamos esta información?</h3>
                    <p>
                    Esta infomación se la queremos proporcionar a todas esas personas que quieren encontrar
                    al mundo de los videojuegos, pero no saben nada sobre ello, tiene la función de ilustrar
                    y enseñar lo esencial de este mundo gamer.
                    </p>
                </div>
                <div class="servicio-int">
                    <img src="../undraw/undraw_operating_system_re_iqsc.svg">
                    <h3>Con que fin damos esta informacion?</h3>
                    <p>
                    Con el fin de que las empresas o estudios de videojuegos, quieran que distribuyamos su informacion de una manera
                    sencilla, eficaz y que este al alcance de un boton para todos.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <div class="content-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>3224006071</p>
            </div>
            <div class="content-foo">
                <h4>Correo</h4>
                <p>juansrm0222@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Sitio</h4>
                <p>Cra 74 #44 sur</p>
            </div>
        </div>
        </div>
        <h2 class="Titulo-final">&copy;Sebastian Reyes | Creador</h2>
    </footer>
    <script src="../Javachikito.js"></script>
</body>
</html>
